.sidebar{
    width: 240px;
    min-height: 100vh;
    border-right: 1.5px solid #d4d4d4;
    background: #fff;
    font-size: 15px;
    padding-top: 20px;
}

.sidebar-options{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 15px;
}

.sidebar-option{
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 12px 14px;
    border-radius: 6px;
    text-decoration: none;
    color: #333;
    border: 1px solid transparent;
    transition: 0.2s ease;
}

.sidebar-option img {
  width: 22px;
  height: 22px;
  display: block;
  object-fit: contain;
}

.sidebar-option p {
  margin: 0;
  padding: 0px;
}

.sidebar-option:hover{
    background: #f6f6f6;
    border-color: #dadada;
}

.sidebar-option.active{
    background-color: #ffe7e3;
    border-color: tomato;
    font-weight: 600;
    color: tomato;
}

@media (max-width: 900px){
    .sidebar{
        width: 80px;
    }
    .sidebar-option p{
        display: none;
    }
}
