.order-item {
    display: grid;
    grid-template-columns: 0.6fr 2fr 1fr 1fr 1fr;
    gap: 25px;
    padding: 18px;
    margin: 25px 0;
    border: 1px solid tomato;
    border-radius: 10px;
    font-size: 14px;
    background: #fffdfc;
    color: #505050;
    align-items: center;
}

/* Ảnh sản phẩm */
.order-item img {
    width: 55px;
    border-radius: 6px;
}

/* Tên sản phẩm */
.order-item-name {
    font-weight: 700;
    margin-bottom: 5px;
}

/* Address */
.order-item-address {
    margin-bottom: 5px;
    color: #666;
    font-size: 13px;
}

/* Select Box (Trạng thái đơn hàng) */
.order-item select {
    background-color: #fff0ed;
    border: 1px solid tomato;
    padding: 10px;
    border-radius: 6px;
    width: max(12vw, 140px);
    outline: none;
    cursor: pointer;
    font-weight: 600;
}

/* RESPONSIVE */
@media (max-width: 1000px) {
    .order-item {
        grid-template-columns: 0.7fr 2fr 1fr;
        padding: 15px 10px;
        font-size: 12px;
    }

    .order-item img {
        width: 40px;
    }

    .order-item select {
        padding: 6px;
        font-size: 12px;
        width: 100%;
    }
}
